{% extends 'crm/base.html' %}
{% block title %}{{alumno}}{% endblock title %}

{% block content %}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>{{alumno}}</h1>
    </div>
    <section class="section dashboard mb-3">
        <div class="row">
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body pt-3">
                        <h5 class="card-title">Detalles del alumno</h5>
                        <div class="row">
                            <div class="col-lg-3 col-md-4 label fw-bold">Nombre:</div>
                            <div class="col-lg-9 col-md-8">{{alumno.nombre}}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-4 label fw-bold">Email:</div>
                            <div class="col-lg-9 col-md-8">{{alumno.email}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <a class="btn btn-info" href="{% url 'crm:index_alumno' %}">Regresar</a>
    <a class="btn btn-warning" href="{% url 'crm:alumno_update' alumno.id %}">Editar</a>
    <a class="btn btn-danger" href="{% url 'crm:alumno_delete' alumno.id %}">Eliminar</a>
</main>

{% endblock content %}